{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}

    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
        <button type="submit" class="btn btn-primary">
            Register
        </button>
    {{ form_end(registrationForm) }}
{% endblock %}
